# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?




images 
pasta

https://i.ibb.co/k62DDmTw/mae-mu-Pvclb-i-HHYY-unsplash-1.jpg
https://i.ibb.co/BH4smWmQ/pixzolo-photography-ae-ESmm-FKH0-M-unsplash-1.jpg
https://i.ibb.co/GQYMT4vM/krista-stucchio-2-CZ0-Zpuj-g-U-unsplash-1.jpg
https://i.ibb.co/GQj9xbN0/nicholas-grande-d9jc-PTRD9fo-unsplash-2.jpg
https://i.ibb.co/GQj9xbN0/nicholas-grande-d9jc-PTRD9fo-unsplash-2.jpg





// piza





//




https://i.ibb.co/TMrq7Hvy/amirali-mirhashemian-jh5-Xy-K4-Rr3-Y-unsplash-3-1.jpg

